@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  color: white;
}

@layer components {
  /* scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #f0f0f2 #fff;
  }

  .custom-shadow {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
}
